@font-face {
    font-family: "Uncut-Sans-Bold";
    src: url(./fonts/Uncut-Sans-Bold.otf);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');


html, body { 
    margin: 0; 
    padding: 0; 
    font-size: 15px; 
    /* ^ 15px rem base number for type scaling*/
    color: white;
    background-color: #222222;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.1;
}

body,
input,
button,
select,
textarea {
    color: white}


html, body, #root { min-height: 100%; }

ul, ol { margin: 0 0 1rem; padding: 0 0 0 1rem; }

table { border-collapse: collapse; }
th { text-align: left; border-bottom: 1px solid white; }
td { vertical-align: middle; }

table:not(th){
    font-weight: 200;
}



.skull {
    color: white;
    height: 1rem;
    margin: 0 .25rem -.1rem 1rem;
}



* { 
    box-sizing: border-box; 
    font-family: '"Uncut-Sans-Bold"', sans-serif;
}

body {
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background: rgb(165,219,241);
background: linear-gradient(180deg, rgba(165,219,241,1) 30%, rgb(14, 17, 21) 93%);
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px; /* Add a 3D perspective to the parent element */
    transform-style: preserve-3d; /* Enable 3D children elements */
    transition: transform 0.5s; /* Add a smooth transition to the transformation */
    background: gray;
    /* padding: 5rem; */
    margin: 5rem;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #0d0d0d;
    border-radius: 30px;

    backdrop-filter: blur(9px) saturate(180%);
    -webkit-backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(76, 96, 116, 0.26);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    
    
    box-shadow:  10px 10px 60px rgba(9, 14, 34, 0.8) ,
             -10px -10px 60px  rgba(122, 214, 251, 0.8);
    box-shadow: 0.5;
}
  
.card:hover {
    transform: rotateX(20deg) rotateY(15deg); /* Tilt the card when hovered */
}

.card-inner {
    background-color: #232323;
    border-radius: 0 0 30px 30px;
    padding: .5rem 2rem;
    color: aliceblue;
    width: 101%;
    margin-bottom: -2px;
    margin-right: -2px;
    margin-left: -2px;


        backdrop-filter: blur(9px) saturate(180%);
        -webkit-backdrop-filter: blur(9px) saturate(180%);
        background-color: rgba(76, 96, 116, 0.26);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
}

.container {
    display: flex;
    justify-content: space-around;
}

#card-1 {
    background-image: url(./images/1.png);

}

#card-2 {
    background-image: url(./images/2.png);
}

#card-3 {
    background-image: url(./images/3.png);
}




@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        margin: 2rem 1rem 2rem 1rem;
    }
    .card {
        margin: 2rem;
    }
}